@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow: auto;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: relative;
    background-color: red;
}

.contenedor {
    position: relative;
    width: 1080px;
    margin: 0 auto;
    overflow: auto;
    background-color: blue;
}

header div.contenedor div.izq {
    float: left;
}

header div.contenedor div.der {
    float: right;
}

header div.contenedor p {
    margin: 0;
    padding: 0;
}